* {
    margin: 0px;
}

body {
    overflow-x: hidden;
    background-color: antiquewhite;
}

@mixin dfex {
    display: flex;
}

@mixin button {
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #094B72;
    color: aliceblue;

}



.all {
    align-items: center;
    justify-content: space-between;

}

.all,
.box1,
.secti1 {
    @include dfex;
    padding: 10px 50px;

    .box1 p {
        margin: 0px 10px;
    }
}

.pa1 {
    background-color: #094B72;
    padding: 5px 10px;
    border-radius: 20px;

}

.secti1 {
    .chap2 {
        display: flex;
        background-color: #8ac4e5;
        padding: 10px 2px;
        border: none;
        align-items: center;
        border-radius: 20px;

        p {
            margin: 0px 5px;
        }
    }

    .chap1 {
        margin-left: 10%;
        width: 80%;
    }

    h1 {
        font-size: 45px;
        margin: 10px 0px;
    }

    .chap1 {
        margin-top: 150px;
        width: 40%
    }

    button {
        @include button;
        margin-top: 40px;

    }

    .chap3 {
        width: 80%;

        img {
            margin: 10px;
        }
    }

}

.pos {
    padding: 30px;
    border: 1px solid wheat;
    width: 15%;
    text-align: center;
    position: absolute;
    background-color: aliceblue;
    top: 98%;
    left: 56%;
}

.rost1 img {
    width: 70%;
    margin-left: 100px;
}

.cekshin2 {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    .chaps2 {
        margin-top: 80px;
        margin-right: 50px;
        margin-left: 80px;

        h1 {
            font-size: 50px;
            font-family: Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        p {
            font-size: 25px;
        }
    }

    .rosts2 {
        width: 50%;
    }

    .rosts02 {
        display: flex;
    }

    .rosts3 {
        width: 100%;
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        background-color: aliceblue;

        border: 1px solid rgb(134, 134, 134);

        h3 {
            margin: 10px 0px;
        }
    }
}

.cektion3 {
    width: 100%;
    height: 300px;
    background-color: #094B72;
    margin-top: 50px;
    color: aliceblue;
    justify-items: center;
    align-content: center;
    text-align: center;

    h1 {
        font-size: 40px;
    }

    p {
        margin: 10px 0px;
    }

    .boxc11 {
        display: flex;

        .boxc3 {
            align-content: center;
        }

        img {
            margin: 10px 40px;
        }
    }
}

.hass1 {
    text-align: center;
    margin-top: 30px;
}

.cekshion4 {
    display: flex;
    text-align: center;
    width: 80%;
    gap: 30px;
    margin-left: 100px;

    .sur {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: 10px;
        }
    }

    .chapcc4 {
        margin-top: 30px;
        border: 1px solid rgb(170, 170, 170);
        border-radius: 20px;
        padding: 20px;
        background-color: aliceblue;


        .chapc4 {
            p {
                margin: 10px 0px;
            }
        }
    }
    
    
}
.chapcc5{
    background-color: aliceblue;
    margin-top: 50px;
    display: flex;
    padding: 30px 100px;
    justify-content: center;
    .chaps5{
        margin-right: 50px;
        h1{
            font-size: 40px;
            margin-top: 35px
        }
        .b1{
            @include button;
            display: flex;
            align-items: center;


        }
    }
}
.cekshin6{
    display: flex;
    padding: 70px 80px;
    justify-content: space-between;
    background-color: #094B72;
    color: aliceblue;
    .oxir{
p{
    margin: 10px 0px;
}

    }
}
.oxir{
    width: 100%;
}